<ion-content class="" [fullscreen]="true">
  <ion-grid style="height: 100%" class="gridCenter">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-card color="light" class="loginCard gridCenter">
        <ion-text color="primary">
          <h1>Login</h1>
        </ion-text>
        <ion-input
          [ngClass]="{'authFail': !!authFail}"
          [color]="fc.userName.errors?.noSpaceValidation  &&'danger'"
          label="Username"
          label-placement="floating"
          fill="outline"
          placeholder="Username"
          (click)="clear()"
          formControlName="userName"
        ></ion-input>

        <app-auth-error
          [field]="fc.userName"
          messageReq="Username is required"
          messageInval="Username can`t contain spaces"
        ></app-auth-error>

        <ion-input
          [ngClass]="{'authFail': !!authFail}"
          [color]="fc.password.errors?.noSpaceValidation  &&'danger'"
          type="password"
          label="Password"
          label-placement="floating"
          fill="outline"
          placeholder="Password"
          (click)="clear()"
          formControlName="password"
        ></ion-input>

        <app-auth-error
          [field]="fc.password"
          messageReq="Password is required"
          messageInval="Password can`t contain spaces"
        ></app-auth-error>

        <ion-label color="danger" *ngIf="authFail">
          Wrong Username or Password</ion-label
        >

        <ion-grid class="loginBtns gridCenter">
          <ion-button
            [disabled]="form.invalid"
            type="submit"
            size="degault"
            fill="outline"
            >Login</ion-button
          >
          <ion-button class="registerBtn" size="degault" fill="outline"
            >Register</ion-button
          >
        </ion-grid>
      </ion-card>
    </form>
  </ion-grid>
  <ion-grid [class.on]="spinner" class="gridCenter mySpinner">
    <ion-spinner color="light"></ion-spinner>
  </ion-grid>
</ion-content>
