.loginCard {
    display: grid;
    width: 70vw;
    grid-gap: 20px;
    padding: 10% 0;  
}

.loginBtns {    
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

ion-content {
    --background: var(--ion-color-primary);
}

.mySpinner {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(66,140,255, 0.7);
}

ion-spinner {
  width: 50px;
  height: 50px;
}