<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons color="light" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-card color="light">
    <ion-grid class="gridCenter avaNameItem">
      <ion-avatar>
        <img
          #pic
          [src]="imgUrl ? imgUrl:
        'https://ionicframework.com/docs/img/demos/avatar.svg'"
          alt="person
        image"
        />
      </ion-avatar>
      <div>
        <ion-card-title>{{name}}</ion-card-title>
        <ion-card-subtitle *ngIf="organization"
          >{{organization.company}} {{organization.department}}
          {{organization.jobTitle}}</ion-card-subtitle
        >
      </div>
    </ion-grid>
    <hr />

    <ion-card-content>
      <ion-card *ngIf="phones.length > 0" class="contactProperty">
        <ion-card-title>Phone numbers:</ion-card-title>
        <ion-list lines="none">
          <ion-item *ngFor="let phone of phones">
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>{{phone.type}}: {{phone.number}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngIf="contact.emails" class="contactProperty">
        <ion-card-title>Emails:</ion-card-title>
        <ion-list lines="none">
          <ion-item *ngFor="let email of contact.emails">
            <ion-icon name="at-outline"></ion-icon>
            <ion-label>{{email.type}}: {{email.address}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngIf="contact.postalAddresses" class="contactProperty">
        <ion-card-title>Addresses:</ion-card-title>
        <ion-list lines="none">
          <ion-item *ngFor="let adrs of contact.postalAddresses">
            <ion-label>{{adrs.type}}: {{adrs['formatted']}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card class="contactProperty" *ngIf="contact.urls">
        <ion-card-title>Web Sites:</ion-card-title>
        <ion-list lines="none">
          <ion-item *ngFor="let url of contact.urls">
            <ion-label>{{url}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card class="contactProperty" *ngIf="birthday">
        <ion-card-title>Birthday:</ion-card-title>
        <ion-label>{{birthday}}</ion-label>
      </ion-card>

      <ion-card class="contactProperty" *ngIf="contact.note">
        <ion-card-title>Note:</ion-card-title>
        <ion-label>{{contact.note}}</ion-label>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
